.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  max-width: 20%;
  margin: 10%;
  transition: transform 0.2s;
  justify-content: center;
  align-content: center;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: #e91e63;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  color: white;
  border-radius: 0 10% 0 0;
}
